@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    @font-face {
        font-family: 'Raleway';
        src: url(../project/assets/fonts/Raleway-VariableFont_wght.ttf);
    }

    @font-face {
        font-family: 'Martel';
        src: url(../project/assets/fonts/Martel-ExtraLight.ttf);
    }

    body{
        font-family: 'Raleway', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
}

@layer components{
    .dev{
        outline: 1px solid red;
    }

    .overflow-anchor{
        overflow-anchor: none;
    }

    .btn-navig{
        @apply content-center font-normal min-h-6 h-10;
    }

    .navig-hover{
        @apply hover:bg-accent hover:text-primary;
    }

    .header-overflow{
        @apply md:overflow-visible overflow-hidden;
    }

    .swiper {
        @apply w-full h-full;
    }

    .swiper-slide {
        @apply text-center text-lg flex justify-center items-center
    }

    /* .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    } */

    [data-theme="red"] .btn-navig{
        @apply content-center font-normal min-h-6 h-10 rounded-2xl;
    }

}